extends layout

block content
  h1= title
  p Test Welcome to #{title}
  div.loginbox
    form(name="login", action="/login", method="post")
      input(type="text", name="user")
      input(type="password", name="pass")
      input(type="submit", value="login")


 